.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

input.error {
  border: red 1px solid;
  background-color: red;
}

.error-message {
  color: red;
}

button.active-filter {
  background-color: #90CAF9;
}

.is-done {
  opacity: 0.9;
}
